<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HexGenerator">
        
        <!-- Service provides the background generation logic -->
        <service
            android:name=".HexGeneratorService"
            android:exported="true" />

        <!-- CommandReceiver catches broadcasts from client_app and controls the service -->
        <receiver
            android:name=".CommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.hex_generator.SET_GENERATION_MODE" />
                <action android:name="com.example.hex_generator.GET_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HexGenerator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>